p {
    font-family: "Roboto", "Noto", "sans-serif";
    text-align: center;
    line-height: 150%;
}

h2 {
    font-family: "Roboto", "Noto", "sans-serif";
}

.fabActions {
    position: fixed;
    bottom: 0px;
    right: 16px;
    height: 80px;
}

.fabActions > * {
    padding: 8px;
}

mwc-textfield, mwc-select {
    width: 100%;
}

mwc-list-item {
    --mdc-list-item-meta-size: 48px;
}

.listItemIcons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.done > mwc-icon {
    color: #388e3c;
}

.error > mwc-icon {
    color: #b00020;
}

.initial > mwc-icon {
    color: #757575;
}

.changing > mwc-icon {
    color: #6002ee;
}

/* fixed height to workaround that select does not overflow in the dialog:
   https://github.com/material-components/material-components-web-components/issues/832 */
.selectInDialog {
    min-height: 300px;
}

#selectReportType {
    margin-top: 24px;
}

#appMenu {
  --mdc-menu-min-width: 200px;
  --mdc-menu-item-height: 60px;
  --mdc-theme-surface: #6002ee;

  --mdc-theme-primary: #6002ee;
  --mdc-theme-text-primary-on-background: #fff;
  --mdc-list-vertical-padding: 0px;
  --mdc-list-side-padding: 30px;
}

canvas {
    max-width: 100%;
    max-height: 100%;
}
