<template>
    <require from="./reports"></require>
    <require from="./qr-code-input"></require>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons&display=block">

    <div show.bind="mode === 'showingDevices' || mode === 'showingReports'">
        <mwc-top-app-bar-fixed ref="topBar">
            <mwc-icon-button icon="menu" label="${'ShowMenu' | t}" slot="navigationIcon" click.trigger="showAppMenu()"
                disabled.bind="mode === 'showingReports'">
            </mwc-icon-button>
            <div slot="title">${(mode === 'showingDevices' ? 'Devices' : 'ReportsTitle') | t}</div>
            <mwc-icon-button icon="insert_drive_file" label="${'ShowReports' | t}" slot="actionItems"
                show.bind="mode === 'showingDevices'" click.trigger="changeMode('showingReports')">
            </mwc-icon-button>
            <mwc-icon-button icon="phonelink_ring" label="${'ShowDevices' | t}" slot="actionItems"
                show.bind="mode === 'showingReports'" click.trigger="changeMode('showingDevices')">
            </mwc-icon-button>
        </mwc-top-app-bar-fixed>
        <mwc-menu ref="appMenu" id="appMenu" show.bind="mode === 'showingDevices'">
            <mwc-list-item graphic="icon" click.trigger="openMigrateDialog()" disabled.bind="devices.length === 0">
                <mwc-icon style="color:white" slot="graphic">fast_forward</mwc-icon>
                ${'MigrateAll' | t}
            </mwc-list-item>
            <mwc-list-item graphic="icon" click.trigger="retryFailedClicked()" disabled.bind="devices.length === 0">
                <mwc-icon style="color:white" slot="graphic">replay</mwc-icon>
                ${'RetryFailed' | t}
            </mwc-list-item>
            <mwc-list-item graphic="icon" click.trigger="deleteAllClicked()" disabled.bind="devices.length === 0">
                <mwc-icon style="color:white" slot="graphic">delete</mwc-icon>
                ${'DeleteAll' | t}
            </mwc-list-item>
        </mwc-menu>
    </div>
    <div show.bind="mode === 'showingDevices'">
        <mwc-linear-progress indeterminate show.bind="anyDeviceInProgress"></mwc-linear-progress>
        <mwc-list>
            <mwc-list-item repeat.for="device of devices" class="${getStatusClass(device.status)}" graphic="icon" twoline hasMeta>
                ${device.code}
                <mwc-icon slot="graphic">
                    ${getStatusIcon(device.status)}
                </mwc-icon>
                <div slot="meta" class="listItemIcons">
                    <mwc-icon-button icon="replay" show.bind="device.status.includes('error')" click.trigger="retryDevice(device)">
                    </mwc-icon-button>
                    <mwc-icon-button icon="delete" click.trigger="deleteDeviceClicked(device)">
                    </mwc-icon-button>
                </div>
                <span slot="secondary">${'Status' | t} ${device.statusDetailed | t}</span>
            </mwc-list-item>
        </mwc-list>
        <p show.bind="devices.length === 0">${'EmptyDeviceList' | t}</p>
        <div class="fabActions">
            <mwc-fab icon="add" label="${'AddDevices' | t}" click.trigger="changeMode('addingQr')"></mwc-fab>
        </div>
    </div>
    <div show.bind="mode === 'showingReports'">
        <reports devices.one-way="devices"></reports>
    </div>
    <qr-code-input mode.two-way="mode" scanned-code.two-way="scannedDeviceCode">
    </qr-code-input>
    <mwc-dialog heading="${'TargetServer' | t}" ref="migrateDialog" closed.trigger="migrateDialogClosed($event)">
        <div class="selectInDialog">
            <mwc-select ref="selectTargetElem" required label="${'TargetServer' | t}" value.two-way="selectedTargetServerUrl" show.bind="targetServers.length !== 0">
                  <mwc-list-item repeat.for="targetServer of targetServers" value="${targetServer.url}">
                      ${targetServer.name} (${targetServer.url})
                  </mwc-list-item>
            </mwc-select>
            <p show.bind="targetServers.length === 0">${'NoServerAvailable' | t}</p>
        </div>
        <mwc-button slot="primaryAction" dialogAction="migrate" disabled.bind="targetServers.length === 0">${'Migrate' | t}</mwc-button>
        <mwc-button slot="secondaryAction" dialogAction="cancel">${'Cancel' | t}</mwc-button>
    </mwc-dialog>
    <mwc-dialog ref="deleteDeviceDialog" closed.trigger="deleteDeviceDialogClosed($event)">
        ${'ReallyDeleteDevice' | t}
        <mwc-button slot="primaryAction" dialogAction="delete">${'Delete' | t}</mwc-button>
        <mwc-button slot="secondaryAction" dialogAction="cancel">${'Cancel' | t}</mwc-button>
    </mwc-dialog>
    <mwc-dialog ref="deleteAllDialog" closed.trigger="deleteAllDialogClosed($event)">
        ${'ReallyDeleteAll' | t}
        <mwc-button slot="primaryAction" dialogAction="delete">${'Delete' | t}</mwc-button>
        <mwc-button slot="secondaryAction" dialogAction="cancel">${'Cancel' | t}</mwc-button>
    </mwc-dialog>
</template>
