<template>
    <div show.bind="mode === 'addingQr'">
        <h2>${'QrCode.ScanCode' | t}</h2>
        <canvas ref="canvasElement"></canvas>
        <p show.bind="videoUnsupported">${'QrCode.ScanningUnsupported' | t}</p>
        <div class="fabActions">
            <mwc-fab icon="edit" label="${'QrCode.EnterCodeManually' | t}" click.trigger="changeMode('addingCode')"></mwc-fab>
            <mwc-fab icon="arrow_back" label="${'QrCode.BackToList' | t}" click.trigger="changeMode('showingDevices')"></mwc-fab>
        </div>
    </div>
    <div show.bind="mode === 'addingCode'">
        <h2>${'QrCode.EnterCode' | t}</h2>
        <mwc-textfield label="${'QrCode.DeviceCode' | t}" value.two-way="manualDeviceCode"></mwc-textfield>
        <div class="fabActions">
            <mwc-fab icon="save" label="${'QrCode.Submit' | t}" click.trigger="exitAddingCode(false)"></mwc-fab>
            <mwc-fab icon="cancel" label="${'QrCode.Cancel' | t}" click.trigger="exitAddingCode(true)"></mwc-fab>
        </div>
    </div>
</template>
