<template>
    <mwc-list>
        <mwc-list-item repeat.for="report of reports" twoline hasMeta>
            ${report.name} (${'Reports.' + report.type | t})
            <div slot="meta" class="listItemIcons">
                <mwc-icon-button icon="save_alt" label="${'Reports.Download' | t}" click.trigger="downloadReport(report)">
                </mwc-icon-button>
                <mwc-icon-button icon="delete" label="${'Reports.Delete' | t}" click.trigger="deleteReportClicked(report)">
                </mwc-icon-button>
            </div>
            <span slot="secondary">${'Reports.Created' | t} ${report.createdTime}</span>
        </mwc-list-item>
    </mwc-list>
    <p show.bind="reports.length === 0">${'Reports.EmptyReportList' | t}</p>
    <div class="fabActions">
        <mwc-fab icon="add" label="${'Reports.AddReport' | t}" click.trigger="openAddReportDialog()"></mwc-fab>
    </div>
    <mwc-dialog heading="${'Reports.NewReport' | t}" ref="addReportDialog" closed.trigger="addReportDialogClosed($event)">
        <mwc-textfield ref="textReportName" label="${'Reports.Name' | t}" required value.two-way="newReportName"></mwc-textfield>
        <div class="selectInDialog">
            <mwc-select id="selectReportType" required label="${'Reports.Type' | t}" value.two-way="newReportType">
                <mwc-list-item value="all">${'Reports.all' | t}</mwc-list-item>
                <mwc-list-item value="failed">${'Reports.failed' | t}</mwc-list-item>
                <mwc-list-item value="successful">${'Reports.successful' | t}</mwc-list-item>
            </mwc-select>
        </div>
        <mwc-button slot="primaryAction" dialogAction="create" disabled.bind="!dialogValidInputs">${'Reports.Create' | t}</mwc-button>
        <mwc-button slot="secondaryAction" dialogAction="cancel">${'Reports.Cancel' | t}</mwc-button>
    </mwc-dialog>
    <mwc-dialog ref="deleteReportDialog" closed.trigger="deleteReportDialogClosed($event)">
        ${'Reports.ReallyDeleteReport' | t}
        <mwc-button slot="primaryAction" dialogAction="delete">${'Reports.Delete' | t}</mwc-button>
        <mwc-button slot="secondaryAction" dialogAction="cancel">${'Reports.Cancel' | t}</mwc-button>
    </mwc-dialog>
</template>
